<!DOCTYPE html>
<html>
<head>
    <title>Chess with all your friends</title>

    <link rel="stylesheet"
          href="/js/chessboardjs/www/css/chessboard.css">

    <link rel="stylesheet"
          href="/bower_components/bootstrap/dist/css/bootstrap.css">

    <link rel='stylesheet'
          href='/stylesheets/style.css'/>
</head>
<body>

<div class="container-fluid">
    <header class="row game-header">
        <div class="col-md-12">
            <div class="pull-left">Status: <span id="status"></span></div>
            <button class="leave-game pull-right btn btn-default btn-xs"
                    style="margin-left: 15px;">Leave Game
            </button>
        </div>
    </header>

    <div class="you-win">
        <h1>You Win!</h1>
    </div>

    <div class="row enter-game-code">
        <div class="col-md-2 col-md-offset-5 text-center">
            Enter your game code.

            <input type="number"
                   class="form-control game-code"
                   id="gameCode">

            <button class="btn btn-block btn-success join-game"
                    style="margin-top: 15px;">Join Game
            </button>
        </div>
    </div>

    <div class="row chess-board">
        <div id="board"
             style="width: 600px; margin-left: auto; margin-right: auto;"></div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/chessboardjs/www/js/jquery-1.10.1.min.js"></script>
<script src="/js/chessboardjs/www/js/chess.js"></script>
<script src="/js/chessboardjs/www/js/chessboard.js"></script>
<script src="/js/game.js"></script>
</body>
</html>
