<!DOCTYPE html>
<html>
<head>
    <title>Chess with all your friends</title>

    <link rel="stylesheet"
          href="/js/chessboardjs/www/css/chessboard.css">

    <link rel='stylesheet'
          href='/stylesheets/style.css'/>
</head>
<body>

<div id="board" style="width: 600px; margin-left: auto; margin-right: auto;"></div>
<p>Status: <span id="status"></span></p>
<p>FEN: <span id="fen"></span></p>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/chessboardjs/www/js/jquery-1.10.1.min.js"></script>
<script src="/js/chessboardjs/www/js/chess.js"></script>
<script src="/js/chessboardjs/www/js/chessboard.js"></script>
<script src="/js/game.js"></script>
</body>
</html>
